@model EducationSite.Models.Gallery
@using EducationSite.Models;
@using EducationSite.DAL
@{
    ViewBag.Title = "Gallery";
    List<Gallery> gal = ViewData["Gallery"] as List<Gallery>;
}

<header id="rs-header" class="rs-header">

    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="main-menu">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-5 col-md-12">
                        <div class="logo-area">
                            <a href="@Url.Action("Index","Home")"><img src="~/Design/image.png" alt="logo" style="height:80px;"> &nbsp;&nbsp;<b style="font-size:xx-large;color:white">ACADÈMICA</b></a>


                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="main-menu">
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <!-- Home -->
                                    <li class="menu-item-has-children">
                                        <a href="@Url.Action("Index","Home")" class="home" style="font-weight:bold">Home</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="@Url.Action("About","Home")" style="font-weight:bold">About Us</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="@Url.Action("Faculty","Home")" style="font-weight:bold">Faculty List</a>
                                    </li>

                                    <li class="current-menu-item current_page_item menu-item-has-children">
                                        <a href="@Url.Action("Gallery","Home")" style="font-weight:bold">Gallery</a>

                                    </li>

                                    <li> <a href="@Url.Action("Contact","Home")" style="font-weight:bold">Contact</a></li>

                                </ul>
                            </nav>
                            @*<div class="searce-box">
                                    <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i class="fa fa-search"></i></a>
                                </div>*@
                        </div>
                        <div class="toggle-btn text-right">
                            <span class="border-icon"></span>
                            <span class="border-icon"></span>
                            <span class="border-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</header>

<div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title">OUR GALLERY </h1>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="rs-gallery sec-spacer">
    <div class="container">
        <div class="sec-title-2 mb-50 text-center">
            <h2>GALLERY </h2>
            <p>Considering primary motivation for the generation of narratives is a useful concept.</p>
        </div>


        <div class="row">
            @if (gal.Count() > 0)
            {
                foreach (var g in gal)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery-item">
                            <img src="@Global.WebsiteUrl()~/UploadedImage/@g.Images" alt="Gallery Image" style="height:350px;width:530px;" />
                            <div class="gallery-desc">
                                <h3><a href="#">@g.Title</a></h3>
                                @*<p>The students of the department study <br>tour each year different</p>*@
                                <a class="image-popup" href="@Global.WebsiteUrl()~/UploadedImage/@g.Images" title="Event Images">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                        <br />
                    </div>
                }

            }
            else
            {
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <img src="~/Design/images/gallery/1.jpg" alt="Gallery Image" />
                        <div class="gallery-desc">
                            <h3><a href="#">University Public Library</a></h3>
                            <p>The students of the department study <br>tour each year different</p>
                            <a class="image-popup" href="~/Design/images/gallery/1.jpg" title="University Public Library">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <img src="~/Design/images/gallery/2.jpg" alt="Gallery Image" />
                        <div class="gallery-desc">
                            <h3><a href="#">Campus Seminar 2018</a></h3>
                            <p>The students of the department study <br>tour each year different</p>
                            <a class="image-popup" href="~/Design/images/gallery/2.jpg" title="Campus Seminar 2018">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <img src="~/Design/images/gallery/3.jpg" alt="Gallery Image" />
                        <div class="gallery-desc">
                            <h3><a href="#">Annual Championship Program</a></h3>
                            <p>The students of the department study <br>tour each year different</p>
                            <a class="image-popup" href="~/Design/images/gallery/3.jpg" title="Annual Championship Program">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>









        @*<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link fa fa-angle-left" href="#" tabindex="-1"></a></li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link dotted" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link fa fa-angle-right" href="#"></a></li>
                </ul>
            </nav>*@

    </div>
</div>